/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

*, *::after, *::before {
    padding: 0;
    margin: 0; 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Lato Regular';
    src: url('../../public/font/lato/Lato_Regular/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../../public/font/Oswald/Oswald-Regular.ttf') format('truetype');
}

#main {

}

#main header {
    width: 100%;
    min-height: 769px;
    position: relative;
    overflow: hidden;
}

#main_logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

#text_tuloy {
    position: absolute;
    top: 100px;
    left: 450px;
}

#fiba_logo {
    position: absolute;
    top: 70px;
    right: 50px;
}

#text_laban {
    position: absolute;
    left: 50%;
    margin-left: -188px;
    bottom: 20px;
}

#main_header_nav {
    position: fixed;
    top: 40%;
    z-index: 9;
}

.social_media {

}

.social_media a {
    display: inline-block;
    float: left;
    width: 50%;
}

#main_header_nav ul {
    list-style: none;
}

#main_header_nav ul li {
}

#main_header_nav ul li a {
    width: 100%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #ccc;
    margin-bottom: 1px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #666;
    font-family: 'Oswald';
}

#main_header_nav ul li a:hover {
    background: #980000;
}

#main_stream {
    margin: 0 auto;
    overflow: hidden;
}

#main_stream_nav {
    list-style: none;
    float: right;
    height: 35px;
}

#main_stream_nav li {
    float: left;
    margin-left: 1px;
}

#main_stream_nav li a {
    color: #fff;
    display: inline-block;
}

.stream_tv5 {
    width: 62px;
    height: 35px;
    background: url('../../public/image/video-tab-tv5.jpg') no-repeat top left;
}

.stream_tv5:hover, .stream_tv5_active {
    width: 62px;
    height: 35px;
    background: url('../../public/image/video-tab-tv5-on-click.jpg') no-repeat top left;
}

.stream_aksyontv {
    width: 107px;
    height: 35px;
    background: url('../../public/image/video-tab-aksyon.jpg') no-repeat top left;
}

.stream_aksyontv:hover, .stream_aksyontv_active {
    width: 107px;
    height: 35px;
    background: url('../../public/image/video-tab-aksyon-on-click.jpg') no-repeat top left;
}
.stream_gilas {
    width: 78px;
    height: 35px;
    background: url('../../public/image/video-tab-gilas.jpg') no-repeat top left;
}

.stream_gilas:hover, .stream_gilas_active {
    width: 78px;
    height: 35px;
    background: url('../../public/image/video-tab-gilas-on-click.jpg') no-repeat top left;
}

#main_frame_holder {
    border: 1px solid #000;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    background: #000;
}

#main_frame_holder iframe {
    display: block;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
 * Gilas Games
 */

#gilas_games {
    width: 100%;
    padding-top: 40px;
}

#gilas_games h2 {
    text-align: center;
}

.gilas_games_wrap {
    width: 950px;
    height: 447px;
    margin: 0 auto 40px auto;
    background: url('../../public/image/bg-gilas-games.jpg') no-repeat top left;
    overflow: hidden;
    position: relative;
}

.gilas_games_wrap nav {
    margin: 15px 0 0 15px;
}

.gilas_games_wrap nav ul {
    list-style: none;
}

.gilas_games_wrap nav ul li {
    float: left;
    margin-right: 5px;
}

.gilas_tab {
    margin-left: 15px;
    position: relative;
    width: 920px;
    height: 350px;
    overflow-y: auto;
    background: #fff;
}

#gilas_team_logo {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 3;
}

#gilas_team_flag {
    position: absolute;
    bottom: 70px;
    left: 130px;
    z-index: 3;
}

.gilas_tab table {
    width: 900px;
    z-index: 2;
}

.gilas_tab table tr {
    height: 60px;
    background: #fff;
    text-align: right;
    border-bottom: 1px solid #eee;
}

.gilas_tab table tr td {
    border-bottom: 1px solid #ddd;
}

.gilas_tab table tr:nth-child(even) {
    height: 60px;
    background: #ccc;
    text-align: right;
    border-bottom: 1px solid #eee;
}

.date {
    text-align: left;
}

.flag, .status, .score {
    text-align: center;
}

.flag img {
    border: 1px solid #ccc;
}

#gilas_past_games {
    display: none;
}

.ads {
    width: 955px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 44px;
}

/*
 * Rosters
 */

#rosters {
    margin-top: 150px;
    width: 100%;
    background: url('../../public/image/bg-rosters.jpg') repeat-x left bottom;
    height: 417px;
    position: relative;
}

#rosters_main {
    position: relative;
    height: 417px;
    width: 1004px;
    margin: 0 auto;
    background: url('../../public/image/bg-rosters-main-2.jpg') no-repeat left 44px;
}

.rosters_player {
    float: left;    
    margin-left: 80px;
}

.rosters_player_team {
    width: 600px;
}

.rosters_player h2 {
    display: inline-block;
    margin: 0 0 20px 20px;
}

.rosters_team {
    margin-bottom: 20px;
}

.rosters_team img {
    margin-right: 20px;
}

.rosters_dummy {
    position: absolute;
    top: -80px;
    left: 700px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.9); /*dim the background*/
    display: none;
}

#popup {
    position: absolute;
    top: -80px;
    left: 50px;
    width: 900px;
    height: 640px;
    display: none;
    z-index: 11;
}

.popup_close {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 12;
}

.popup_close a {
    text-decoration: none;
}

.popup_body {
    position: relative;
    z-index: 11;
}

.popup_left {
    position: absolute;
    left: -54px;
    top: 200px;
}

.popup_right {
    position: absolute;
    right: -54px;
    top: 200px; 
}

/*
 * Photo Gallery and Social Media
 */

#photo_social_media_wrap {
    padding-top: 110px;
    background: url('../../public/image/bg-photo-gallery.jpg') no-repeat -20px -25px;
}

#photo_gallery {
    width: 1000px;
    margin: 10px auto;
}

#photo_gallery h2 {
    text-align: center;
}

.photo_gallery_holder {
    width: 980px;
    position: relative;
    margin: 0 auto;
    height: 195px;
    background: #3266CC;
}

#photo_nav_left {
    float: left;
    width: 54px;
}

.photo_holder {
    float: left;
    width: 872px;
    height: 195px;
    overflow: hidden;
    position: relative;
}

.photo_holder ul {
    list-style: none;
    white-space: nowrap;
    position: absolute;
    font-size: 0; /* Hack: remove extra margin of inline-block elements */
}

.photo_holder ul li {
    width: 140px;
    height: 140px;
    display: inline-block;
    margin: 25px 0 0 29px;
    background: #fff;
}

#photo_nav_right {
    float: right;
    width: 54px;

}

#social_media {
    width: 980px;
    margin: 70px auto;

}

#articles {
    float: left;
}

#tweets {
    float: right;
}

.articles_holder,
.tweets_holder {
    height: 330px;
    background: #3266CC;
    padding: 10px;
}

.articles_holder ul {
    list-style: none;
    width: 100%;
    overflow-y: scroll;
    height: 300px;
    width: 450px;
}

.articles_holder ul li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articles_holder ul li a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}

#kampihan_wall {
    margin: 0 auto;
    width: 100%;
    background: url('../../public/image/bg-social-media.jpg') repeat-x bottom;
    padding-bottom: 27.5px;
}

#kampihan_wall h2 {
    text-align: center;
}

.kampihan_wall_holder {
    background: #3266CC;
}

.kampihan_wall_holder h3 {
    text-align: center;
}

.kampihan_wall_item_holder {
    width: 1000px;
    margin: 50px auto;
}

.kampihan_wall_item {
    float: left;
    width: 280px;
    margin-left: 40px;
}

.kampihan_wall_item_top {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #ccc;
}

.wall_hashtag {
    font-size: 12px;
    color: #000;
    margin-bottom: 5px;
}

.wall_image {
    width: 260px;
    height: 250px;
    background: #000;
    color: #fff;
}

.kampihan_wall_item_bottom {
    height: 60px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #aaa;
    margin-bottom: 10px;
}

.wall_info_holder {
}

.wall_info {
    float: left;
}

.wall_name {
    margin-bottom: 10px;
}

.wall_name a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.wall_datetime {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    color: #fff;
}

.wall_photo_icon {
    float: right;
}

#kampihan_wall_load_more {
    text-align: center;
}

footer {
    background: #003399;
    margin-top: 100px;
    padding-bottom: 80px;
}

#footer_wrap {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

#footer_ads {
    margin: 60px 0 40px 0;
}

#footer_links {
    list-style: none;
    margin: 0 auto;
    width: 700px;
}

#footer_links li {
    float: left;
    margin-left: 20px;
}

#copyright {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}